@import 'tailwindcss';

@theme {
	/* foreground + background */
	--color-darkFG: #0e0e0f;
	--color-darkFGAlt: #181818;
	--color-darkBG: #0c0b0d;

	--color-primaryBlue: #0a5aac;
	--color-primaryWhite: #f7f9fb;

	--color-textOff: #686868;
	--color-textMedium: #a2a2a2;
}

@utility no-scrollbars {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

* {
	box-sizing: border-box;
}
